*.d
*.pre
*.p1
*.lst
*.sym
*.obj
*.o
*.sdb
*.obj.dmp
*.map
pic-synth.X/html/
pic-synth.X/nbproject/private/
pic-synth.X/nbproject/Package-*.bash
pic-synth.X/build/
pic-synth.X/nbbuild/
pic-synth.X/dist/
pic-synth.X/nbdist/
pic-synth.X/nbactions.xml
pic-synth.X/nb-configuration.xml
pic-synth.X/funclist
pic-synth.X/nbproject/Makefile-*
pic-synth.X/disassembly/
